.moviescardlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moviescardlist__list {
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
  grid-template-rows: repeat(auto-fit, minmax(151px, 1fr));
  column-gap: 20px;
  row-gap: 38px;
  list-style-type: none;
}

.moviescardlist__more {
  margin-top: 60px;
  background: transparent;
  border: none;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background: #F9F9F9;
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.moviescardlist__more:hover {
  opacity: 0.8;
}

@media screen and (max-width:768px) {
  .moviescardlist__list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    column-gap: 30px;
    row-gap: 29px;
  }

}

@media screen and (max-width:767px) {
  .moviescardlist__list {
    column-gap: 30px;
    row-gap: 29px;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

@media screen and (max-width:320px) {
  .moviescardlist__list {
    column-gap: 30px;
    row-gap: 33px;

  }

}