.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login__container {
  margin: auto;
  width: 396px;
  position: relative;
  background: #fff;
  margin-top: 70px;
}

.login__logo {
  margin-bottom: 40px;
}

.login__title {
  margin-bottom: 40px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;

}

.login__input-name {
  color: #A0A0A0;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}


.login__info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.login__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 21px;
  outline: none;
  padding: 0;
  padding-bottom: 9px;
}

.login__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.login__input-error {
  height: 20px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 6px;
}

.login__input-error:last-of-type {
  margin-bottom: 0px;
}

.login__input-error_active {
  color: #FF3055;
  margin-bottom: 8px;
}

.login__submit {
  width: 396px;
  height: 45px;
  color: #FFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  border: none;
  border-radius: 3px;
  background: #3456F3;
  margin-top: 200px;
  margin-bottom: 16px;
}

.login__submit:hover {
  border-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}

.login__small-text {
  color: #A0A0A0;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.login__smaller-text {
  text-decoration: none;
  color: #3456F3;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__smaller-text:hover {
  opacity: 0.7;
  cursor: pointer;
}

.login__submit_disabled {
  background: #E0E0E0;
  color: #A0A0A0;
  cursor: default;
  }


@media screen and (max-width: 768px) {
  .login__container {
    margin-top: 232px;
  }
}


@media screen and (max-width: 500px) {
  .login__container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    align-items: center;
    width: 260px;
  }

  .login__form {
    width: 100%;
  }

  .login__submit {
    width: 260px;
    margin-top: 288px;
    font-size: 12px;
  }

  .login {
    align-items: normal;
  }

  .login__logo {
    margin-bottom: 50px;
  }

  .login__title {
    margin-bottom: 80px;
  }

  .login__input-error {

    margin: 0px;

  }

  .login__small-text {
    font-size: 12px;
  }

  .login__smaller-text {

    font-size: 12px;

  }
}